.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 50px;
	justify-content: center;
	padding: 300px;
	margin: 0 auto;
	overflow: auto;
}

.box {
	/* padding: 2rem; */
	transition: 1.78s;
}
.box:hover {
	transform: scale(1.1);
}
