* {
  box-sizing: border-box;
  margin: 0;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fullpage {
  /* FIX POSITION */
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: white;
}

.intro {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.float {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid pink; */
  /* padding: 3em; */
  width: 40%;
  margin-left: 10%;
  /* margin-right: 10%; */
  /* margin-top: 10%; causing both image containers to lower
  /* margin-bottom: -5%; */
  padding-left: 10px;
  padding-right: 10px;
}

.float h2 {
  font-size: 50px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-style: italic;
  height: 25%;
  /* font-stretch: 50%; */
  /* transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
}

/* h2 {
  z-index: 2;
  transition: translateY(0);
  transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
} */

.float_left {
  display: flex;
  gap: 3%;
  width: 30%;
  float: right;
  align-self: flex-end;
  margin-right: 10%;
  padding-left: 10px;
  padding-right: 10px;
  animation: 1.5s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.shopnow {
  font-family: 'Rubik', sans-serif;
  font-size: 45px;
  color: black;
  text-decoration: none;
  font-style: italic;
}

.arrow {
  display: flex;
  width: 8%;
  object-fit: scale-down;
  /* animation: pulse 1s infinite; */
}

.image_container {
  height: 60vh;
  width: 100%;
}

.image_container img {
  position: fixed;
  object-position: bottom;
  width: 100%;
  height: 55%;
  object-fit: cover;
}

img:hover {
  /* border: 20px solid black; */
}

#scroll-text {
  /* animation properties */
  /* border: 3px solid black; */

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* .image_slider {
  position: fixed;
  object-position: bottom;
  width: 100%;
  height: 55%;
  object-fit: cover;
} */
