* {
  box-sizing: border-box;
  margin: 0;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fullpage {
  /* FIX POSITION */
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: white;
}

.intro {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: fixed; */
  /* margin-top: 10%; */
  /* border: 2px solid red; */
  /* max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px; */
}

.float {
  display: flex;
  border: 2px solid pink;
  /* padding: 3em; */
  width: 40%;
  margin-left: 10%;
  /* margin-right: 10%; */
  /* margin-top: 10%; causing both image containers to lower
  /* margin-bottom: -5%; */
  padding-left: 10px;
  padding-right: 10px;
}

.float h2 {
  font-size: 35px;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.float_left {
  display: flex;
  border: 2px solid green;
  width: 30%;
  float: right;
  align-self: flex-end;
  /* margin-left: 65%; */
  margin-right: 10%;
  /* margin-bottom: -5%; this is not effecting shop now */
  /* margin-top: 10%; */
  padding-left: 10px;
  padding-right: 10px;
  animation: 1s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.float_left p {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

.image_container {
  height: 60vh;
  width: 100%;
}

.image_slider {
  position: fixed;
  object-position: bottom;
  width: 100%;
  height: 55%;
  object-fit: cover;
  /* border: 2px solid green; */
}
